* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;

    --color-main: rgb(223, 59, 49);
    --color-main-opacity: rgba(223, 59, 49, 0.8);
    --color-alfa: rgb(255, 255, 255);
    --color-beta: rgb(0, 0, 0);
    --color-gamma: rgb(84, 165, 218);

    --gradient-alfa: linear-gradient(90deg, rgba(73, 73, 73, 0.3) 0%, rgba(13, 13, 13, 0.5) 100%);
}


.wrap {
    position: relative;
    max-width: 1900px;
    margin: 0 auto;
}


.header {
    position: relative;
    height: 60vh;
    overflow: hidden;
}

.header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    animation: banner 12s linear infinite;
}

.img--second {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    animation-delay: 4s;
}

.img--third {
    animation-delay: 8s;
}

@keyframes banner {

    0% {
        opacity: 0;
    }

    5% {
        opacity: 1
    }

    33.33% {
        opacity: 1;
    }

    38.33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.header__logo {
    position: absolute;
    top: 5vh;
    left: 5vh;
    width: 30%;
    z-index: 1;
}

.logo__img {
    width: 100%;
}


.header__nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}


.nav__list {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    list-style: none;
}

.nav__item {
    margin-left: 1rem;
}

.nav__link {
    position: relative;
    display: block;
    padding: 1rem 1rem;
    font-size: 1.8rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: var(--color-alfa);


    font-weight: bold;
}


.nav__link::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    width: 100%;
    height: 0.3rem;
    background-color: var(--color-main);
    transition: 0.3s;
}

.nav__link:hover::after {
    transform: translateX(-50%) scaleX(1);
}





.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__heading {
    padding: 3rem 0 3rem 0;
    text-align: center;
}

.heading__img {
    width: 50%;
}

.main__products {
    display: flex;
    width: calc(100% - 8rem);
    margin: 0 4rem 8rem 4rem;
}

.products__item {
    flex-basis: 50%;
}

.item__img {
    width: 100%;
}

.products__info {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
}

.products__heading {
    padding: 0 0 2rem 2rem;
    font-size: 2rem;
    text-align: center;
}

.products__price {
    text-align: center;
    font-size: 2rem;
}

.description__list {
    font-size: 1.5rem;
    padding: 4rem 0 4rem 4rem;
}

.products__button {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    border: 1px solid var(--color-main);
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
}

.products__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(-60%, -100%) rotate(-45deg);
    background-color: var(--color-main-opacity);
    transition: 0.5s linear;
}

.products__button:hover::after {
    transform: translate(60%, 100%) rotate(-45deg);
}



.footer {
    position: relative;
    padding: 2rem 3rem;
    background-color: var(--color-main);
}

.footer__description {
    display: inline-block;
    color: var(--color-alfa);
    cursor: pointer;
}

.footer__description:hover {
    color: var(--color-beta);
}


.description--first {
    margin-right: 2rem;
}

.footer__link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    justify-content: center;
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--color-alfa);
    font-size: 1.5rem;
}

.fa-facebook {
    padding-left: 0.5rem;
}




/* formularz */


.form__container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0;
    background-image: var(--gradient-alfa), url(../img/tlo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5rem;
}

.form__heading {
    padding: 0 0 4rem 0;
    font-size: 3rem;
    text-align: center;
    color: var(--color-alfa);
}


.form__content {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    background-image: var(--gradient-alfa);
}

.form__label {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--color-alfa);
}

input,
select {
    display: block;
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid var(--color-gamma);
    font-size: 1.3rem;
    background-color: transparent;
    color: var(--color-alfa);
    cursor: pointer;
}


input::placeholder,
select {
    color: var(--color-alfa);
    font-weight: bold;
}

select:focus,
input:focus {
    background: var(--color-beta);
}

input[type="submit"] {
    display: inline-block;
    width: 30%;
    margin: 2rem auto 0 auto;
    padding: 1rem 1.5rem;
}



.form--close,
.thanks--close {
    position: fixed;
    top: 5vh;
    right: 5vh;
    font-size: 3rem;
    color: var(--color-alfa);
    cursor: pointer;
    z-index: 3;
}



.info {
    position: fixed;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__img {
    width: 150%;
}

.info__price {
    margin-top: 2rem;
    padding: 2rem;
    font-size: 2rem;
    color: var(--color-alfa);
    background-image: var(--gradient-alfa);
}


.info__data {
    background-image: var(--gradient-alfa);
    margin-top: 5rem;
    padding: 2rem 3rem;
    border: 1px solid var(--color-gamma);
}

.info__data--description {
    font-size: 2rem;
    text-align: center;
    color: var(--color-alfa);
}

.info__data--list {
    padding-top: 2rem;
    list-style: none;
    color: var(--color-alfa);
}

.info__data--item {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}



/*   podziekowania */
.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0;
    background-image: var(--gradient-alfa), url(../img/tlo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.thanks__heading {
    color: var(--color-alfa);
}

.inactive {
    display: none;
}